<!DOCTYPE html>
<html>
  <head>
    <title>Planer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="top_bar">
        <h1 class="grid-6"><a href="/">Planner</a></h1>
        <div class="user_bar grid-6">
          <a class="create" href="schedules/new">予定作成</a>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Planner
      </p>
    </footer>
  </body>
</html>
